$background-gray-dark: #CCCCCC;
$background-gray-med: #E3E3E3;
$background-gray-light:#F3F3F3;

.product-detail{
   .regular-price{
     text-decoration: line-through;
   }
  .discounted-price{
     color:#FF9A29;
  }



  img{
    width: 100%;
    height: auto;
  }
}
