.order-detail{
  background-color: $background-gray-med;

  .order-btn{
    width:100%;
    background-color: #1CA3FF;
    color:#FFF;
    line-height: 2;
    outline: none;
  }
}

.discount-detail{
  background-color: $background-gray-light;
}
